.preference__item-icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background: var(--team-section-color);
}

.specifics {
  padding-bottom: 0;
}
.preference__list {
  display: flex;
  margin-left: -30px;
}
.preference__item {
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.preference__title {
  text-transform: uppercase;
  color: var(--secondary-color);
}
.preference__text {
  margin-top: 10px;
  width: 270px;

  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color);
}
