.hero {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.hero__title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-size: clamp(16px, 10vh, 80px);
    text-align: center;
    z-index: 10;
    color: azure;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
