.social__list {
  display: flex;
  justify-content: center;
}
.social__link {
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--title-color);
  fill: var(--icon-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--title-color);
  }
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.footer__link {
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--title-color);
  }
}

.footer__icon {
  fill: var(--title-color);
}
