@mixin parentGrid() {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

@mixin itemGrid() {
    margin-top: 30px;
    margin-left: 30px;
}

@mixin font($fs: 16px, $lh: 1.87, $ls: 0.06em) {
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}
