:root {
  --accent-color: #2196f3;
  --secondary-color: #212121;
  --title-color: #ffffff;
  --hero-color: #2f303a;
  --text-color: #757575;
  --team-section-color: #f5f4fa;
  --half-logo-color: #000000;
  --border-color: #eeeeee;
  --line-color: #ececec;
  --icon-color: #afb1b8;
  --hover-btn: #188ce8;
}
